# Supabase credentials
SUPABASE_URL=https://ryjfhyzjpdevncectlrj.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ5amZoeXpqcGRldm5jZWN0bHJqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTYxNTA2MCwiZXhwIjoyMDcxMTkxMDYwfQ.vZJ_tBpobyQBxvMG4SadvVmHZnRq2LY3VKiNGqZ97V0

# OpenAI credentials
OPENAI_API_KEY=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

# LlamaParse credentials
LLAMAPARSE_API_KEY=llx-TTIq596RAKbTtqGlCiUOkqTEVPtnK1fTq1LMGzFXoYNInHaf
